.container {
  background-color: white;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  opacity: 0;
  flex-direction: row;
  font-size: 18px;
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(100% - 50px);
    height: 3px;
    background-color: #53e3a6;
  }
}

.slide {
  pointer-events: all;
  opacity: 1;
  transform: translateY(71px);
}

.btn {
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  border: none;
  margin-left: 20px;
  padding: 0;
  color: #53e3a6;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.5;
  }
}
