.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 350px;

  &:hover {
    cursor: pointer;

    & > .btns {
      opacity: 1;
    }
  }
}

.info {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  padding: 16px;
  align-items: center;
  max-width: 350px;
}

.image {
  position: relative;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  flex-grow: 1;
}

.name {
  margin-bottom: 20px;
}

.btns {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -160px;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  width: 250px;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  min-width: 64px;
  box-sizing: border-box;
  color: #53e3a6;
  background-color: white;
  box-shadow: none;
  transition-duration: 0.25s;
  max-width: 140px;

  &:nth-child(1) {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: #f5f7f9;
  }
}
