.container {
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 16px;
  align-items: center;
  width: 200px;
  max-width: 200px;
}

.image {
  position: relative;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  text-decoration: none;
  margin-top: 20px;
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
}
