progress {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-appearance: none;

  &::-webkit-progress-bar {
    background-color: #e5e9eb;
    height: 5 px;
    position: relative;
  }

  &::-webkit-progress-value {
    background-image: linear-gradient(
      to right,
      #4cd964,
      #5ac8fa,
      #007aff,
      #34aadc,
      #5856d6,
      #ff2d55
    );
    background-size: 100% 4px;
    height: 100%;
    position: relative;
  }
}

.container {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.label {
  margin-bottom: 10px;
}
