.container {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.left {
  align-items: flex-start;
}

.right {
  align-items: flex-end;
}

.deleted {
  opacity: 0.3;
}

.msg {
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  max-width: 70%;
  padding: 10px;
  margin: 20px 0 10px;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

.selected {
  background-color: transparentize(#53e3a6, 0.8);
}

.sent {
  background-color: rgb(230, 237, 246);

  &::after {
    border-right: 10px solid rgb(230, 237, 246);
  }
}

.received {
  background-color: rgb(242, 242, 242);

  &::after {
    border-right: 10px solid rgb(242, 242, 242);
  }
}

.status {
  color: rgb(133, 138, 145);
  margin: 0;
}
